.sucursales {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 10%;
    &__ul {
        list-style-type: none;
        text-decoration: none;
    }
}
#cafeteria_cocina {
    display: flex;
    flex-direction: column;
}
.subscripcion {
    display: flex;
}
.historia {
    display: flex;
    flex-direction: column;
    & p{
        line-height: 250%;
    }
}
#primer_local{
    max-width: 100%;
    width: 100%;
    height:auto;
}