@media screen and (min-width: 768px) {

    .titulo {
        & p {
            overflow: hidden;
            height: auto;
        }
    }

    #cafeteria_cocina {
        display: flex;
        flex-direction: row;
        text-align: center;

        & img {
            width: 100%;
        }
    }
    #primer_local{
        width: 50%;
        height:50%;
    }
    .comidas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 5%;
        grid-row-gap: 100px;
        text-align: center;

        & div {
            img {
                width: 50%;
                :hover{
                    transform: scale(1.3);
                    overflow: hidden;
                }
            }
        }

        & ul {
            list-style-type: none;
            text-decoration: none;
        }

    }



    .noticias {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
        row-gap: 10px;
        column-gap: 10px;
    }

    .subscripcion {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 5%;
        text-align: center;
    }

    .historia {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2%;
        text-align: center;

        & img {
            width: 60%;
            height: auto;
        }

        & p {
            width: 40%;
        }
    }
    .sucursales{
        row-gap: 100px;
    }

}
